.spacer {
    margin: 0, 100px;
}

.liked {
    color: red!important;
}

.not-liked {
    color: red!important;
}

.like-padding{
    padding-left: 5px;
}

.post-link {
    color:#000;
    text-decoration: underline;
}

.user-link  {
    color:#000;
}

.nav-icon {
    font-size:25px;
}