{% extends "base.html" %}

{%block content%}
<div class="container">
    <div class="columns">
        {% for post in posts%}
            <div class="column">
                <figure class="image is-1by1">
                    <img src="{{post.image.url}}">
                </figure> 
                <div>
                    <span><i class="fa-solid fa-heart" style="font-size:15px;"></i>{{post.number_of_likes}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{%endblock%}