{% extends "base.html" %}

{% block  content%}
 
    <div class="container">
      <div class="columns is-multiline">
        {% for post in post_list %}
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="{{post.image.url}}" alt="Placeholder image" width="100%"%>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <a href="/account/{{post.author}}" class="user-link"><p class="title is-4">@{{post.author}}</p></a>
                </div>
              </div>
          
              <div class="content">
                {{post.description}}
                <br>
                <br>
                <div>
                  <i class="far fa-heart not-liked"></i><span class="like-padding">{{post.number_of_likes}}</a>
                  <span class=".like-padding"></span>
                  <span><a href="/post/{{post.slug}}" class="post-link"> View Post </a></span>
                </div>
                <br>
                  <time datetime="2016-1-1">{{post.created_on}}</time>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>

    
{% endblock  %}