{% extends "base.html" %} {% block  content%}

{% load crispy_forms_tags %}

  <div class = "container">
    <div class="columns">
        <div class="column">
            <figure class="image is-4by5">
                <img src="{{posts.image.url}}">
              </figure>
        </div>
        <div class="column">
            {% if user.is_authenticated %}
            <form action="{% url 'post_like' posts.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                    <button type="buttton is-white" name="post_id" value="{{post.slug}}" class="button is-white">Leave a like<i class="fas fa-heart liked"><span style="margin-left:15px:">{{post.number_of_likes}}</span></i></button>
                {% else %}
                    <button type="submit" name="post_id" value="{{post.slug}}" class="button is-white">Leave a like<i class="far fa-heart">{{post.number_of_likes}}</i></button>
                {% endif %}
            </form> 
            <h3>Leave a comment:</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="button is-link">Submit</button>
                </form>
                <br>
            {% else %}
            <div class="card">
                <div class="card-content">
                    <div class="media-content">
                    <p class="title is-4"><a href="/accounts/login">Login to leave a comment</a></p>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {%if not comments%}
                <div class="card">
                    <div class="card-content">
                        <div class="media-content">
                        <p class="title is-4">No comments</p>
                        </div>
                    </div>
                </div>
            {% else %}   
                {%for comment in comments%}
                <div class="card">
                    <div class="card-content">
                        <div class="media-content">
                        <p class="title is-4">{{comment.comment_text}}</p>
                        <span> <a href="/account/{{comment.name}}">{{comment.name}}</a><time class="subtitle is-6" datetime="2016-1-1">{{comment.created_on}}</time>
                        </div>
                    </div>
                    </div>
                    <br>
                {%endfor%}
            {%endif%}
        </div>
    </div>
  </div>
    
{% endblock  %}